﻿body {
}

#Hedding
{
	background:#000000;
	height:50px;
	width:960PX;
	color:#FFFFFF;
	font-size:x-large;
	padding-left:5px;
	padding-top:10px;
	
}
.HeaderDisc
{
color:#000000;
background:#C0C0C0;
font-size:small;
padding-left:10px;
padding-top:5px;
width:960PX;
height:30px;	
}
#CtrlPanel
{
	background:#FFFFFF;
	height:50px;
	width:960PX;
	color:#000000;
	padding:5px;
	padding-left:35px;
	
	
}
.linker
{
	background:#FFFFFF;
	height:100px;
	width:150PX;
	color:#000000;
	padding-top:10px;
	padding-left:30px;
	list-style:none;
	display:inline;
	float:left;	
}
.img{
    padding: 0px;
    border: none;
    border-width:2px;
    border-color:#0280EC;
    border-style:solid;
}
.img:hover {
    padding: 0px;
    border: none;
    border-width:2px;
    border-color:#94BF18;
    border-style:solid;
}
.txt
{
	height:20px;
	width:144px;
	font-size:medium;
	background:#000000;
	color:#FFFFFF;		
}