/*
Design by SLIIT SE WD 02

*/
.HyperLink
{
	font-family:Arial;
	font-size:12px;
	font-weight:lighter;
	text-align:justify;
	color:#0066CC;
}

.HyperLink:hover
{
	font-family:Arial;
	font-size:14px; 
}

.buttonText { background-color: #4D90FE;
	border: 1px solid #3079ED;
	color: white !important;
	border-radius: 5px;
	background-image: linear-gradient(top,#4D90FE,#4787ED);
}

.buttonText:hover
 { background-color:Aqua;
	border: 1px solid #3079ED;
	color: white !important;
	border-radius: 5px;
	background-image: linear-gradient(top,#4D90FE,#4787ED);
}

.commonTextBox
{
	border-color:Blue;
	border-style:solid;
	border-width:1px;
}

#Text1
{
	width: 150px;
	height: 17px;
	border: 0px;
	background-color: Transparent;
}
#Text2
{
	width: 150px;
	height: 17px;
	border: 0px;
	background-color: Transparent;
}

*
{
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

img
{
	padding: 0px;
	border: none;
}

a
{
	color: #0281EC;
	font-weight: bold;
	text-decoration: none;
}

a:hover
{
	text-decoration: none;
	color: #000000;
}

body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #505050;
	background: url(images/bg.jpg) fixed top center;
}

.ls
{
	list-style: none;
	padding-left: 0px;
}

.ls li
{
	background: url(images/ls.png) no-repeat 0px 6px;
	margin-bottom: 4px;
	padding-left: 15px;
}




h1
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #0281EC;
	font-weight: bold;
}

h2
{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 18px;
	color: #0281EC;
	font-weight: normal;
	text-align: center;
	background: url(images/h2_bg.png) repeat-x bottom;
	padding-bottom: 5px;
}

h3
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #0281EC;
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 10px;
	background: url(images/h3_bg.png) repeat-x bottom;
}

h4
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #0281EC;
	font-weight: bold;
}

h5
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #0281EC;
	font-weight: normal;
}

h6
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #0281EC;
	font-weight: normal;
	padding-bottom: 10px;
}

.read
{
	text-align: right;
	padding-right: 10px;
}

.read a
{
	color: #0281EC;
	font-weight: bold;
}

.read a img
{
	padding-right: 2px;
}

#wrap
{
	width: 968px;
	margin: 0 auto;
	height: 372px;
}

/*logo*/


#logo
{
	background: url(images/logo.png) no-repeat top left;
	height: 120px;
	width: 270px;
	padding-left: 780px;
	padding-top: 10px;
}

#logo2
{
	background: url(images/logo2.png) no-repeat top left;
	height: 120px;
	width: 270px;
	padding-left: 780px;
	padding-top: 10px;
}

#logo h1 a
{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px;
	color: #0281EC;
	font-style: italic;
	font-weight: bold;
}
#logo login
{
	background: url(images/logo.png) no-repeat top left;
}
#logo small
{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	color: #0281EC;
	font-style: italic;
	font-weight: normal;
}

#logo a
{
	text-decoration: none;
}


/*menu*/
#menu
{
	background: url(images/menu_bg.png) no-repeat top left;
	width: 968px;
	height: 55px;
}

#menu ul
{
	padding-left: 0px;
	padding-top: 5px;
	margin: 0px;
}

#menu li
{
	display: inline;
}

#menu a
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	display: block;
	float: left;
	width: 19.9%;
	height: 35px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	padding-top: 15px;
}

#menu a:hover, #menu .active
{
	background: url(images/menu_hover.png) no-repeat center;
}

#prev
{
	background: #ffffff;
	padding-top: 5px;
}

#prevX
{
	background: #ffffff;
	padding-top: 5px;
	padding-left: 10px;
}


#header_bg
{
	background: url(images/header.jpg) no-repeat center;
	height: 261px;
}

#prev_but
{
	float: right;
	padding-bottom: 10px;
	padding-right: 10px;
}

#prev_but ul
{
	padding-left: 0px;
	padding-top: 5px;
	margin: 0px;
	list-style: none;
}

#prev_but li
{
	display: inline;
}

#prev_but a
{
	display: block;
	float: left;
	width: 15px;
	height: 14px;
	background: url(images/prev_but.png) no-repeat left;
	margin-right: 5px;
}

#prev_but a:hover, #prev_but .active
{
	background: url(images/prev_but_hov.png) no-repeat center;
}

/* Navigation tab*/

.NaviTabFinal 
{
width:120px; 
height:20px; 
text-align:center; 
float:left; 
padding-right:30px; 
padding-top:5px; 
padding-bottom:5px;
background-image: url('images/Final.png');
}
.NaviTabFinal:hover 
{
width:120px; 
height:20px; 
text-align:center; 
float:left; 
padding-right:30px; 
padding-top:5px; 
padding-bottom:5px; 
background-image: url('images/TabMousehover.png');
}
.NaviTabCommon 
{
width:120px; 
height:20px; 
text-align:center; 
float:left; 
padding-right:30px; 
padding-top:5px; 
padding-bottom:5px;
background-image: url('images/commom.png');
}
.NaviTabCommon:hover 
{
width:120px; 
height:20px; 
text-align:center; 
float:left; 
padding-right:30px; 
padding-top:5px; 
padding-bottom:5px; 
background-image: url('images/TabMousehover.png');
}


/*content*/
#content
{
	background: #ffffff;
	padding-left: 15px;
	padding-right: 15px;
}

#content2
{
	background: #ffffff;
	padding-left: 30px;
	padding-right: 15px;
}

#Div3
{
	background: url(images/index_bg.png) repeat-y center;
	padding-left: 20px;
}

.con_bot
{
	background: url(  'images/con_bg_bot.png' ) no-repeat 50% top;
	height: 9px;
	clear: both;
}

.con_top
{
	background: url( 'images/con_bg_top.png' ) no-repeat 50% top;
	height: 9px;
	clear: both;
}

#column_box
{
	background: url(images/index_bg.png) repeat-y center;
	padding-left: 20px;
}

#column_box2
{
	background: url(images/index_bg.png) repeat-y center;
	padding-left: 20px;
}

.column1 p, .column2 p, .column3 p
{
	color: #2e2e2e;
	line-height: 14px;
}

.col_text
{
	padding-right: 30px;
	padding-left: 70px;
}

.column1, .column2, .column3
{
	background: url(images/top_box.jpg) no-repeat top left;
	width: 250px;
	float: left;
}

.column1, .column2
{
	padding-right: 80px;
}

.column_title
{
	padding-left: 75px;
}

.column1 .column_title
{
	background: url(images/img1.png) no-repeat left top;
	height: 67px;
	padding-top: 15px;
}

.column2 .column_title
{
	background: url(images/img2.png) no-repeat left top;
	height: 67px;
	padding-top: 15px;
}

.column3 .column_title
{
	background: url(images/img3.png) no-repeat left top;
	height: 67px;
	padding-top: 15px;
}






/*footer*/
#foot_col
{
	padding-top: 20px;
	color: #ffffff;
}

#foot_col a, #footer a
{
	color: #ffffff;
}

.foot_col1, .foot_col2, .foot_col3
{
	float: left;
	width: 230px;
	padding-left: 69px;
}

.foot_col1 .foot_pad
{
	padding-top: 5px;
}

.foot_col3 .foot_pad, .foot_col2 .foot_pad
{
	padding-left: 40px;
	padding-top: 17px;
}

.link1
{
	background: url(images/link1.png) no-repeat 0px 2px;
	padding-left: 30px;
	min-height: 18px;
	padding-bottom: 10px;
}

.link2
{
	background: url(images/link2.png) no-repeat 0px 2px;
	padding-left: 30px;
	min-height: 18px;
	padding-bottom: 10px;
}

.link3
{
	background: url(images/link3.png) no-repeat 0px 2px;
	padding-left: 30px;
	min-height: 18px;
	padding-bottom: 10px;
}

.link4
{
	background: url(images/link4.png) no-repeat 0px 2px;
	padding-left: 30px;
	min-height: 18px;
	padding-bottom: 10px;
}

.footer_border_bot
{
	clear: both;
	background: url(images/footer_border_bot.png) no-repeat center bottom;
	height: 10px;
}

#footer
{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #ffffff;
}

.foot_col1 H2, .foot_col2 H2, .foot_col3 H2
{
	color: #ffffff;
}

/*index*/

.index_content_bg
{
	margin-top: 10px;
	background: url(images/index_bg.jpg) repeat-y center;
}

.index_content_left
{
	padding-right: 30px;
	float: left;
	width: 430px;
}

.index_content_right
{
	padding-left: 20px;
	float: left;
	width: 425px;
}

/*about*/

.about a
{
	color: #0281EC;
}

.news_about
{
	padding-top: 20px;
	padding-bottom: 10px;
	background: url(images/h3_bg.png) repeat-x bottom;
}

.news_about_nobor
{
	padding-top: 20px;
	padding-bottom: 10px;
}

/*gallery*/

.row
{
	padding-left: 1px;
	height: 235px;
	width: 958px;
}

.box_img2
{
	width: 304px;
	height: 225px;
	background: url(images/img_bg_ind3.png) 0px 0px no-repeat;
	padding: 3px 0px 0px 3px;
	float: left;
}

.box_razd
{
	width: 8px;
	height: 50px;
	float: left;
}

.box_img2 h1
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 100;
	color: #0281EC;
	text-align: left;
	padding: 8px 0px 3px 0px;
}

.rol_over:hover
{
	background: url(images/rol_over_galery.png) left top no-repeat;
}

.g_size
{
	width: 298px;
	height: 130px;
	display: block;
}



/*contact*/

.contact_content_bg
{
	background: url(images/con_bg.png) repeat-y center;
	padding-left: 20px;
}

.contact_content_left
{
	padding-right: 30px;
	float: left;
	width: 540px;
}

.contact_content_right
{
	padding-left: 90px;
	float: left;
	width: 255px;
}

#contact_form fieldset
{
	border: none;
}

#contact_form label
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #505050;
	text-align: left;
	padding-left: 10px;
}

#contact_form input
{
	margin-bottom: 5px;
}

#contact-submit
{
	width: 110px;
	height: 23px;
	color: #ffffff;
	background: url(images/submit.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	border: none;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

#con_name, #con_email, #con_website
{
	width: 516px;
	height: 20px;
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 12px;
	border: none;
	background: url(images/input_bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	color: #000000;
	padding-bottom: 5px;
}

#con_mess
{
	width: 518px;
	height: 166px;
	padding-top: 4px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
	border: none;
	background: url(images/con_mess.png);
	background-repeat: no-repeat;
	background-position: left top;
	color: #000000;
	margin-bottom: 10px;
}

.orange
{
	color: #0281EC;
}

.gray_hr
{
	height: 1px;
	margin-top: 5px;
	padding-bottom: 10px;
	border-top: 1px dotted #0281EC;
}

/*lisence*/

.lisence_content_left
{
	float: left;
	width: 570px;
}

.lisence_content_right
{
	padding-left: 70px;
	float: left;
	width: 275px;
}


.lisence_content_left a, .lisence_content_right a
{
	color: #0281EC;
}



/*
scroll styles here
*/

.item
{
	width: 964px;
	height: 261px;
	padding-left: 5px;
}
.item img
{
	float: left;
}
.item h2
{
	border: none;
	margin-bottom: 15px;
}

.scrollable
{
	position: relative;
	overflow: hidden;
	width: 964px;
	height: 261px;
	top: 0px;
	left: 0px;
}
.scrollable .items
{
	width: 20000em;
	position: absolute;
}
.scrollable .items div
{
	float: left;
}
.scrollable .items .item
{
	overflow: hidden;
}
.scrollable .items .item p
{
	line-height: 16px;
}
.navi
{
	width: auto;
	height: 20px;
	float: right;
	margin: 5px 0;
	padding-right: 20px;
}
.navi a
{
	width: 17px;
	cursor: pointer;
	height: 14px;
	float: left;
	margin: 0 0 0 1px;
	background: url(images/prev_but.png) no-repeat scroll right top;
	display: block;
	font-size: 1px;
}
.navi a:hover, .navi a.active
{
	background-position: left top;
	margin: 0 0 0 1px;
	background: url(images/prev_but_hov.png) no-repeat scroll right top;
}

.header1
{
	width: 964px;
	height: 261px;
	background: url(images/header.jpg) no-repeat;
}

.header2
{
	width: 964px;
	height: 261px;
	background: url(images/header2.jpg) no-repeat;
}

.header3
{
	width: 964px;
	height: 261px;
	background: url(images/header3.jpg) no-repeat;
}

.header4
{
	width: 964px;
	height: 261px;
	background: url(images/header4.jpg) no-repeat;
}

.headerReport
{
	width: 964px;
	height: 261px;
	background: url(images/imageReport.png) no-repeat;
}

/* ------------------------------------------------------------------------
DO NOT CHANGE
------------------------------------------------------------------------- */


div.pp_overlay
{
	background: #000;
	display: none;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9500;
}
div.pp_pic_holder
{
	display: none;
	position: absolute;
	width: 100px;
	z-index: 10000;
}

.fields_court
{
	width: 950px;
	height: 50px;
	padding: 2px;
}

.form
{
	padding: 10px;
	width: 950px;
	height: auto;
}

.form_fields
{
	padding-top: 4px;
	padding-left: 5px;
	width: 295px;
	text-align: left;
	height: 30px;
	background: url(images/formfield.png);
	list-style: none;
	display: inline-block;
}

.form_label
{
	font-size: medium;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	width: 150px;
	height: 20px;
	color: #000000;
}
.form_text
{
	font-size: medium;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	width: 200px;
	height: 20px;
	border: 0px;
}
.headline_holder
{
	width: 963px;
	height: 38px;
	text-align: left;
	padding-left: 20px;
	padding-top: 20px;
	background: url(images/menu_bg.png) no-repeat top left;
}
.headline
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	color: #FFFFFF;
	font-weight: bold;
	height: 40px;
	padding-top: 10px;
	padding-left: 20px;
}
.body
{
	background-color: #FFFFFF;
	width: 968px;
	height: auto;
}

.report_type
{
	height: 25px;
	width: 923px;
	background-color: #FFFFFF;
	padding-left: 40px;
	color: #0281EC;
	font-size: 20px;
}

.report
{
	background-color: #E1F3FF;
	height: 250px;
}
.button
{
	background-image: url(images/submit.png) no-repeat;
}

#UserCategoryFunctions
{
	width: 958px;
	height: 10px;
	background: #FFFFFF;
}

.UserPanaelHolder
{
	width: 958px;
	height: 100px;
	list-style: none;
	display: inline;
	background: #FFFFFF;
}

/* user handling*/

#Hedding
{
	background: #000000;
	height: 40px;
	width: 958PX;
	color: #FFFFFF;
	font-size: x-large;
	padding-left: 10px;
	padding-top: 15px;
}
.HeaderDisc
{
	color: #000000;
	background: #C0C0C0;
	font-size: small;
	padding-left: 20px;
	width: 948PX;
	height: 30px;
}
#CtrlPanel
{
	background: #FFFFFF;
	height: 50px;
	width: 960PX;
	color: #000000;
	padding: 0px;
	list-style: none;
	display: inline;
	padding-left: 35px;
}
.linker
{
	background-color: #FFFFFF;
	background-repeat: repeat;
	height: 100px;
	width: 150PX;
	color: #000000;
	padding-top: 10px;
	padding-left: 30px;
	list-style: none;
	display: inline-table;
}
.img
{
	height: 70px;
	width: 140px;
}
.txt
{
	height: 20px;
	width: 140px;
	font-size: medium;
}


/* function menue items  */
.functionbox
{
	width: 968px;
	height: 150px;
	padding: 5px;
	background: #000000;
}
.function
{
	width: 200px;
	height: 140px;
	background: #FFFFFF;
	list-style: none;
	display: inline-block;
}

.imagebox
{
	width: 190px;
	height: 40px;
	padding-right: 10px;
}

.Descript
{
	width: 190px;
	height: 50px;
	font-size: medium;
	padding-right: 10px;
}
.ReportSizing
{
	width: 950px;
	height: inherit;
}

/* report selecter */

#MHedding
{
	background: #86C3F6;
	height: 40px;
	width: 963PX;
	color: #FFFFFF;
	font-size: 35px;
	padding-left: 5px;
	padding-top: 20px;
}
.MHeaderDisc
{
	color: #000000;
	background: #D2E6F7;
	font-size: small;
	padding-left: 10px;
	padding-top: 5px;
	width: 958PX;
	height: 30px;
}
.MCtrlPanel
{
	background: #FFFFFF;
	height: auto;
	width: 958PX;
	color: #000000;
	padding: 5px;
	list-style: none;
	display: inline-table;
}

.Boundrypannel
{
	width: 265px;
	height: 170px;
	background: #FFFFFF;
	float: left;
	padding-left: 28px;
	padding-top: 5px;
}

.Mlinker
{
	height: 170px;
	width: 271px;
	color: #000000;
	padding: 5px;
}
.Mimg
{
	height: 70px;
	width: 270px;
	text-align: center;
}
.Mtxt
{
	height: auto;
	width: 270px;
	font-size: 25px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	font-style: normal;
	color: #0281EC;
	background: #D2E6F7;
}
.MDesctxt
{
	height: 50px;
	width: 270px;
	font-size: 12px;
	text-align: center;
}


/* Report Viewer*/

.ReportBody
{
	width: 968px;
	height: auto;
	background-color: White;
}

.ReportBody_He
{
	width: 968px;
	height: 650px;
	background-color: White;
}


.ReportHeader
{
	width: 943px;
	height: 40px;
	background-image: url(images/menu_bg.png);
	padding-top: 20px;
	padding-left: 25px;
	font-size: 30px;
	color: #FFFFFF;
}
.ReportDesc
{
	width: 943px;
	height: 25px;
	background-color: White;
	font-size: 20px;
	padding-left: 25px;
}
.RepOptions
{
	width: 948px;
	height: auto;
	background: #B8D9F5;
	padding-top: 5px;
	padding-left: 20px;
}

.RepOptInstance
{
	height: 26px;
	width: 300px;
	background-color: White;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	float: left;
	list-style: none;
	display: inline-table;
}
.RepLbl
{
	height: 19px;
	width: 100px;
	background-color: White;
	padding-right: 5px;
	padding-top: 7px;
	float: left;
	text-align: right;
}
.RLable
{
	height: 26px;
	font-size: 15px;
}

.RepTxt
{
	height: 26px;
	width: 185px;
	background-color: White;
	padding-right: 2px;
	padding-top: 2px;
	float: right;
}
.RTxt
{
	height: 26px;
	font-size: 15px;
	width: 180px;
}
.GenBtn
{
	height: 60px;
	width: 80px;
	float: left;
	padding-top: 10px;
}



.RepPanel
{
	width: 968;
	height: 768;
	background: #FFFFFF;
}


.CalOptInstance
{
	height: 161px;
	width: 300px;
	background-color: White;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	float: left;
	list-style: none;
	display: inline-table;
}


.RepCal
{
	height: 170px;
	width: 180px;
	background-color: White;
	padding-right: 2px;
	padding-top: 2px;
	float: right;
}

.RepOptionsWhite
{
	width: 948px;
	height: 900px;
	background: White;
	padding-top: 5px;
	padding-left: 20px;
}

/* Profile*/

.gapSet
{
	height: 5px;
	width: auto;
}
.proSubtitle
{
	height: auto;
	background-color: White;
	font-size: 20px;
	padding: 20px;
}
.proRow
{
	height: 33px;
	font-size: 15px;
	background: url(images/rowTexture.jpg);
}
.RowcolLft
{
	height: 25px;
	width: 150px;
	padding-left: 10px;
	padding-top: 5px;
	float: left;
}
.RowcolRte
{
	height: 25px;
	padding-left: 10px;
	padding-top: 5px;
	float: left;
	width: 600px;
}

.TextDiv
{
	font-size: 15px;
	color: Blue;
	padding-left: 30px;
	padding-top: 10px;
	padding-right: 30px;
	background-color: White;
}

/* Event Mgr / warning */


.EMcontainer
{
	height: 552px;
}

.EMcommon
{
	height: 550px;
	width: 300px;
	float: left;
	padding-left: 3px;
}

.EMcomRowLow
{
	height: 30px;
	vertical-align: middle;
	padding-top: 10px;
	font-size: 15px;
}

.EMcomRowHi
{
	height: 150px;
	vertical-align: middle;
	padding-top: 10px;
	font-size: 15px;
}

.EMAdvance
{
	height: 550px;
	width: 625px;
	float: left;
}

.EMAdvSearch
{
	height: 85px;
	width: 623px;
}
.EMAdvGrid
{
	height: 450px;
	width: 623px;
}


/* Character Report */

.CharContainer
{
	height: 552px;
}

.CharCommon
{
	height: 550px;
	width: 300px;
	float: left;
	padding-left: 3px;
}
.CharComRowLow
{
	height: 30px;
	vertical-align: middle;
	padding-top: 10px;
	font-size: 15px;
}

.CharAdvance
{
	height: 550px;
	width: 625px;
	float: left;
}

.CharImgBx
{
	padding: 20px;
	height: 60px;
}

.RepOptionsFixed
{
	width: 948px;
	height: 80px;
	background: #FFFFFF;
	padding-top: 5px;
	padding-left: 20px;
}

.RepOptionsFixed40
{
	width: 948px;
	height: 40px;
	background: #FFFFFF;
	padding-top: 5px;
	padding-left: 20px;
}
.FormTxtBox
{
	font-size: 15px;
	height: 20px;
	border-color: #1982D5;
	border-style: solid;
	border-width: thin;
}

.grid-view
{
	padding: 0;
	margin: 0;
	border: 1px solid #333;
	font-family: "Verdana, Arial, Helvetica, sans-serif, Trebuchet MS";
	font-size: 1.2em;
	border-color: #3499F0;
}

.grid-view tr.header
{
	color: white;
	background-color: #000080;
	height: 25px;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
}

.grid-view tr.normal
{
	color: black;
	background-color: #F3F8FF;
	height: 25px;
	vertical-align: middle;
	text-align: center;
}

.grid-view tr.alternate
{
	color: black;
	background-color: #CCFFF7;
	height: 25px;
	vertical-align: middle;
	text-align: center;
}

.grid-view tr.normal:hover, .grid-view tr.alternate:hover
{
	background-color: #2DFFFF;
	color: black;
	vertical-align: middle;
	text-align: center;
}
